.nav
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    align-content: center;
    align-items: center;
    position: sticky;
    margin-top: 0px;
    z-index: 1000;
    top:0;
    border: 1px solid black;
}

.logo-image
{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.logo-nav
{
    width: 25%;
    align-items: center;
}
.main-nav
{
  font-size: 20px; 
  width: 50%;
}
.list
{
    
    list-style: none;
    display: flex;
    justify-content: space-around;
   
}
.button
{
    width: 25%;
}
.start-button
{
background-color: blue;
color: white;
}.list-header:hover
{
    color: blue;
}