
.card-div{
    width: 90%;
    height: auto;
    /* border: 2px solid black; */
    box-shadow: 3px 3px 3px 2px gainsboro;
    margin-bottom: 20px;
    padding: 30px;
    margin-left: 50px;
    border-radius: 8px;
    margin-top: 10px;
}
.card-heading
{
    font-size: 20px;
}